<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I’ve been a tech writer for just over 2 years now. I’m embedded within a team of engineers to write end-user documentation for netowrking and security products. When I started in my current position, I had to rapidly come up to speed on a technical domain that was entirely new to me, but I was able to grasp new concepts quickly to complete assigned tasks on or ahead of schedule. I’ve been able to partner with SMEs to ensure documentation is produce in sync with the engineering feature release cycle. I’ve also made an effort to stay user-focused: early on, I created a style guide to ensure consistency within the tech writing team and I later developed more user-friendly landing pages for our documentation portal.            </p>
            <p class="paragraph-text justify-text">
                Before I transitioned to tech writing, I spent 10 years studying the sounds that whales make. I used recorded whale calls (they are occasionally beautiful, but more often they are the strangest sounds I’ve ever heard) to learn about the presence and behavior of different species.            </p>
            <p class="paragraph-text justify-text">
                Wondering how I ended up in tech writing? Well, science is all about communicating your results to other scientists and the general public: experiments have ultimately failed if the intended audience cannot understand the results. The goal and stakes are the same with tech writing. Information must be conveyed efficiently, accurately, and in a manner digestible to the intended audience, with poor documentation being a common point of failure in customer engagement.            </p>
            <p class="paragraph-text justify-text">
                While listening to an array of underwater moans and groans, I managed a range of scientific writing, from proposals to peer-reviewed papers, and consistently produced deliverables ahead of schedule. I compiled 50+ page annual reports and edited the text, as well as multiple figures and tables, to ensure accuracy and consistency. I also authored publications that required coordination between multiple contributors to ensure adherence to style guidelines.            </p>
            </p>
        </div>
    </section>
</div>
