<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I like whales. That's why I've spent my career thus far researching them. But what does studying whales have to do with tech writing? Well, science is all about communicating your results to laypeople in the same way that tech writing requires conveying information efficiently, accurately, and in a manner digestable to the intended audience.
            </p>
            <p class="paragraph-text justify-text">
                I've managed a range of scientific writing and documentation, from proposals to peer-reviewed publications.
            </p>
            <p class="paragraph-text justify-text">
                I'm a detail oriented writer and editor and my desire to learn is my motivation. I enjoy working as part of a team, particularly with people who are similarly motivated. 
            </p>
        </div>
    </section>
</div>
