<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I’ve spent the last 10 years studying the sounds that whales make. I use recorded whale calls (they are occasionally beautiful, but more often they are the strangest sounds I’ve ever heard) to learn about the presence and behavior of different species. 
            </p>
            <p class="paragraph-text justify-text">
                But what does studying whales have to do with tech writing? Science is all about communicating your results to laypeople: experiments have ultimately failed if the intended audience cannot understand the results. The goal and stakes are the same with tech writing. Information must be conveyed efficiently, accurately, and in a manner digestible to the intended audience and poor documentation is a common point of failure in customer engagement.
            </p>
            <p class="paragraph-text justify-text">
                While listening to an array of underwater moans and groans, I’ve managed a range of scientific writing, from proposals to peer-reviewed papers, and have consistently produced deliverables ahead of schedule. I’ve compiled 50+ page annual reports and edited the text, as well as multiple figures and tables, to ensure accuracy and consistency. I’ve also authored publications that required coordination between multiple contributors to ensure adherence to style guidelines.
            </p>
            <p class="paragraph-text justify-text">
                However, before writing begins for any scientific paper, there’s always data analysis, which typically requires running custom software. The lack of documentation I encountered when first starting out prompted me to take notes as I learned new processes and I then took it upon myself to develop documentation that I could use when training new interns and volunteers. I want the people I'm training to understand not just the steps for how to do what they want but to understand why they are doing it and how it works so that they are better prepared to troubleshoot any issues that may arise.
            </p>
        </div>
    </section>
</div>
