<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            
                <div class="project-technologies">

                    <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">Featured</a>
                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">All</a>
                    <a id="how-to" class="semi-transparent-button with-border white-button" onclick="selected('how-to')">How-to</a>
                    <a id="set-up" class="semi-transparent-button with-border white-button" onclick="selected('set-up')">Set-up</a>
                    <a id="diagram" class="semi-transparent-button with-border white-button" onclick="selected('diagram')">Diagram</a>
                    <a id="diy" class="semi-transparent-button with-border white-button" onclick="selected('diy')">DIY</a>

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>
