<div class="section-wrapper">
    <section class="section projects" id="portfolio">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            
                <div class="project-technologies">

                    <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">Featured</a>
                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">All</a>
                    <a id="software" class="semi-transparent-button with-border white-button" onclick="selected('software')">Software</a>
                    <a id="hardware" class="semi-transparent-button with-border white-button" onclick="selected('hardware')">Hardware</a>
                    <a id="n&s" class="semi-transparent-button with-border white-button" onclick="selected('n%s')">Security</a>
                    <a id="proposals" class="semi-transparent-button with-border white-button" onclick="selected('proposals')">Proposals</a>
                    <a id="publications" class="semi-transparent-button with-border white-button" onclick="selected('publications')">Publications</a>
                    <a id="figures" class="semi-transparent-button with-border white-button" onclick="selected('figures')">Figures</a>

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>
